/* style sheet */
td,th {
    border-bottom: solid 1px;
    border-collapse: collapse;
    padding: 15px;
}
table {
    border: solid 1px;
    border-collapse: collapse;
}
th {
    background-color: grey;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
